
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* CSS variables Root */
:root{
    --font-exo: 'Exo+2';    
    --font-orb: 'Orbitron';
    
}




/* Right certain animation */

.animateRightImage {
    animation: animateRightImage 2s linear;
}

@keyframes animateRightImage {
    0%{
        transform: translateX(0px);
    }
    
    100%{
        transform: translateX(1000px);

    }
}

/* Left certain animation */


.animateLeftItmage {
    animation: animateLeftItmage 2s linear;
}

@keyframes animateLeftItmage {
    0%{
        transform: translateX(0px);
    }
    
    100%{
        transform: translateX(-1000px);

    }
}


/* Card 1 */

